body {
  font-family: 'Comic Neue', cursive;
  text-align: center;
  line-height: 1.4;
  background-image: url("../images/background.jpeg");
  background-repeat: repeat;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

h1, h2 {
  margin: auto;
}

* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
}

main {
  flex: 1;
}

.top-nav {
  background-color: #d9e3ee;
  color: #091b25;
}

.text-background {
  color: #d9e3ee;
  background-color: #091b25;
  padding-left: 5px;
  padding-right: 5px;
}

button {
  font-family: 'Comic Neue', cursive;
  font-size: 1em;
  background-color: #2ea44f;
  color: #d9e3ee;
  width: 25%;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.dropbtn {
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  color: #d9e3ee;
  background-color: #091b25;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d9e3ee;
  font-size: 0.7em;
  min-width: max-content;
  text-align: left;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #091b25;
  color: #d9e3ee;
}

.show {
  display: block;
}

.footer {
  margin-top: 10px;
  padding: 10px;
  bottom: 0;
  color: #d9e3ee;
  background-color: #091b25;
}
