body {
  /* background-color: #fafbfc; */
  font-family: 'Comic Neue', cursive;
  text-align: center;
  line-height: 1.4;
  background-image: url("../images/background.jpeg");
  background-repeat: repeat;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

h1 {
  margin: auto;
}

h2 {
  margin: auto;
}

* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
}

main {
  flex: 1;
}
