.top-nav {
  background-color: #d9e3ee;
  color: #091b25;
}

.question-card {
  cursor: pointer;
  background-color: #2ea44f;
  padding: 10px;
}

.disable-card {
  pointer-events: none;
  background-color: grey;
  opacity: 0.6;
}

.responsive-image {
  width: 100%;
}

.text-background {
  color: #d9e3ee;
  background-color: #091b25;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #091b25;
  color: #d9e3ee;
  text-align: center;
}

button {
  font-family: 'Comic Neue', cursive;
  width: 25%;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  padding: 10px;
  max-width: 300px;
}

@media screen and (max-width: 960px) {
  .column {
    max-width: 200px;
  }

  button {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    max-width: 150px;
  }

  button {
    width: 75%;
  }
}
