.question-card {
  cursor: pointer;
  background-color: #2ea44f;
  padding: 10px;
}

.disable-card {
  pointer-events: none;
  background-color: grey;
  opacity: 0.5;
}

.responsive-image {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  padding: 10px;
  max-width: 300px;
}

@media screen and (max-width: 960px) {
  .column {
    max-width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .column {
    max-width: 150px;
  }
}
