.question-card {
  cursor: pointer;
  background-color: #2ea44f;
  padding: 10px;
}

.disable-card {
  pointer-events: none;
  opacity: 0.5;
}

.responsive-image {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex: 20%;
  padding: 10px;
  max-width: 300px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
/* @media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
} */
