.question-card {
  cursor: pointer;
  background-color: #2ea44f;
  padding: 10px;
}

.disable-card {
  pointer-events: none;
  background-color: grey;
  opacity: 0.6;
}

.disable-cards-grid {
  pointer-events: none;
}

.img-responsive {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  padding: 10px;
  max-width: 300px;
}

.column-intro {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.left, .right {
  width: 20%;
}

.middle {
  width: 60%;
}

@media screen and (max-width: 960px) {
  .column {
    max-width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .column {
    max-width: 150px;
  }
  .column-intro {
    width: 100%;
    /* padding: 0px 10px 0px 10px; */
  }
}
