.img-responsive {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  float: left;
  padding: 10px;
  text-align: left;
}

.mid-button {
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.left, .right {
  width: 20%;
}

.middle {
  width: 60%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    padding: 0px 10px 0px 10px;
  }
}
